/* http://meyerweb.com/eric/tools/css/reset/ */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: inherit;
}

a: visited {
    color: inherit;
}

/* - - - - - - - - - - - - - - - - - - - - - - - */

html {
    min-height: 100%;
}

body {
    background-color: #9b3c5d;
    font-family: 'Open Sans', Verdana, Helvetica, sans-serif;
}

.content {
    z-index: 50;
    background-color: #4fbe98;
    height: 150px;
    border-bottom: solid 10px #dd5483;
    position: fixed;
    width: 100%;
    transition: height 0.3s, box-shadow 0.3s;
}

header {
    position: relative;
    width: 1200px;
    height: inherit;
    margin: 0 auto;
    padding: 0 50px
}

.logo h1 {
    font-family: 'Pathway Gothic One', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 72px; 
    color: #dd5483;
    text-shadow: 0px 2px 0px #7b334c;
}

.logo h1:after {
    content: "↴";
    position: absolute;
    margin-top: 3px;
}

.logo {
    position: absolute;
    top: 50%;
    margin-top: -37px;
}

nav {
    float: right;
    position: relative;
    height: inherit;
    background-color: #dd5483;
    width: 500px;
}

table {
    transition: top 0.3s;
    font-family: 'Pathway Gothic One', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #61c5a3;
    text-shadow: 0px -1px 0px #aa3a60, 0px 1px 3px rgba(170,58,96,0.4);
    position: absolute;
    top: 50%;
    width: 200px;
    line-height: 1.3;
    margin: -38px 0 0 50px;
    font-size: 28px;
}

table a {
    transition: text-shadow 0.1s, bottom 0.2s, color 0.1s;
}

table a:hover {
    transition: text-shadow 0.1s, bottom 0.2s, color 0.1s;
    color: #aaf0d8;
    position: relative;
    text-shadow: 0px 2px 0px #aa3a60;
    bottom: 1px;
}

table a:active {
    color: #9ed9c5;
}

form {
    transition: top 0.3s;
    position: absolute;
    top: 50%;
    margin: -32px 0 0 250px;
    height: 57px;
    width: 200px;
    background-color: #4fbe98;
    border-top: solid 3px #aa3a60;
}

form .sBox {
    position: absolute;
    top: 50%;
    height: 29px;
    width: 126px;
    margin: -15px 0 0 15px;
    border: 0;
    outline: 0;
    background-color: #4fbe98;
    color: #daf7ed;
    text-shadow: 0px -1px 0px #3d9174;
    font-size: 18px;
}

form .sSubmit {
    position: absolute;
    background-image: url(../images/mag_glass.png);
    background-color: transparent;
    top: 50%;
    width: 29px;
    height: 29px;
    margin: -15px 0 0 158px;
    border: 0;
    outline: 0; 
    cursor: pointer;
}

.container {
    color: white;
    width: 1200px; 
    margin: 0 auto;
    font-size: 0.95em;
    line-height: 1.3em;
    padding: 160px 0px 50px 0px;
}

.contentLeft {
    float: left;
    width: 645px;
    background-color: #dd5483;
    margin: 50px 0 50px 0;
}

.contentLeft p {
    padding: 10px;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.2);
}

.contentLeft h2 {
    padding: 10px;
    font-family: 'Pathway Gothic One', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 20px;
    text-decoration: underline;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.2);
}

.contentLeft h3 {
    padding: 10px;
    font-family: 'Pathway Gothic One', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 20px;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.2);
}

.contentCenter {
    margin-top: 50px;
    width: 1200px;
    background-color: #dd5483;
}

.contentCenter p {
    color: #ffe8fa;
    padding: 10px;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.2);
}

.contentCenter h2 {
    padding: 10px 10px 0px 10px;
    font-family: 'Pathway Gothic One', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 20px;
    text-decoration: underline;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.2);
}

.contentCenter #img {
    height: 200px;
    width: 200px;
    background-color: pink;
    outline: 0;
    border: 0;
}

#imgtitle {
    position: absolute;
    margin-top: -200px;
    margin-left: 204px;
    width: 976px;
}

#imgtext {
    position: absolute;
    margin-top: -170px;
    margin-left: 204px;
    width: 976px;
    height: 135px;
}

.contentRight {
    float: right;
    width: 500px;
    height: inherit;
    margin: 50px 0 50px 0;
    background-color: #dd5483;
}

.contentRight p {
    padding: 10px;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.2);
}

.contentRight h2 {
    padding: 10px;
    font-family: 'Pathway Gothic One', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 20px;
    text-decoration: underline;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.2);
}

#me {
    transition: opacity 0.2s ease-out;
    background-color: pink;
    height: 175px;
    width: 175px;
    border-radius: 50%;
    margin: 50px 0px 0px 512px;
    border: 0;
    outline: 0;
}

#leftbar {
    transition: margin-left 0.2s ease-out, opacity 0.2s ease-out;
    position: absolute;
    margin-left: 282px;
    margin-top: 137px;
    width: 200px;
    height: 3px;
    background: -moz-linear-gradient(left, rgba(255,192,203,0) 0%, rgba(255,192,203,1) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,192,203,0)), color-stop(100%,rgba(255,192,203,1)));
    background: -webkit-linear-gradient(left, rgba(255,192,203,0) 0%,rgba(255,192,203,1) 100%);
    background: -o-linear-gradient(left, rgba(255,192,203,0) 0%,rgba(255,192,203,1) 100%);
    background: -ms-linear-gradient(left, rgba(255,192,203,0) 0%,rgba(255,192,203,1) 100%);
    background: linear-gradient(to right, rgba(255,192,203,0) 0%,rgba(255,192,203,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffc0cb', endColorstr='#ffc0cb',GradientType=1 );
    border: 0;
    outline: 0;
    content: "";
}

#rightbar {
    transition: margin-left 0.2s ease-out, opacity 0.2s ease-out;
    position: absolute;
    margin-top: 137px;
    margin-left: 30px;
    width: 200px;
    height: 3px;
    background: -moz-linear-gradient(left, rgba(255,192,203,1) 0%, rgba(255,192,203,0) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,192,203,1)), color-stop(100%,rgba(255,192,203,0)));
    background: -webkit-linear-gradient(left, rgba(255,192,203,1) 0%,rgba(255,192,203,0) 100%);
    background: -o-linear-gradient(left, rgba(255,192,203,1) 0%,rgba(255,192,203,0) 100%);
    background: -ms-linear-gradient(left, rgba(255,192,203,1) 0%,rgba(255,192,203,0) 100%);
    background: linear-gradient(to right, rgba(255,192,203,1) 0%,rgba(255,192,203,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc0cb', endColorstr='#00ffc0cb',GradientType=1 );
    border: 0;
    outline: 0;
    content: "";
}

p::selection, h2::selection {
	background: #4fbe98;
    color: #bdf2e0;
}

p::-moz-selection, h2::-moz-selection {
	background: #4fbe98;
    color: #bdf2e0;
}

::selection {
	background: rgba(0,0,0,0);
    color: rgba(0,0,0,0);
}
::-moz-selection {
	background: rgba(0,0,0,0);
    color: rgba(0,0,0,0);
}