@charset "utf-8";
/* CSS Document */

/* General index styles */

.clear {
    clear: both;
}

	.details_box h3 {
		margin-bottom: 25px;
}

	.indexcontent h3 {
		margin-bottom: 25px;
}

.links a {
    font-family: 'Droid Sans', sans-serif;
    font-size: 14px;
}

	.indexcontent h3 span, .indexcontent p span {
		color: #CF8282;
		text-shadow: 1px 1px 1px #572525;	
}

/* End of General index styles */

/* Left side styles */

	.mission_statement {
		float: left;
		width: 66%;
		margin-right: 4%;
        margin-bottom: 23px;
        padding-bottom: 20px;
        border-bottom: dashed 1px rgba(255,255,255,0.5);
}

	.property_leads {
		padding-top: 25px;
}

	.property_leads p {
		margin-bottom: 25px;
}

	.property_leads a {
		color: #4a4a4a;
}

	.indexcontent .cycle-slideshow {
		width: 200px;
		height: 133px;
		margin-bottom: 15px;
}

	 .indexcontent .btn_prev,
	.indexcontent .btn_next {
		cursor: pointer;
		width: 0;
		height: 0;	
}

	.indexcontent .btn_prev {
		float: left;
		border-top: 10px solid transparent;
		border-right: 10px solid white;
		border-bottom: 10px solid transparent;	
}

	.indexcontent .btn_next {
		float: right;
		border-top: 10px solid transparent;
		border-left: 10px solid white;
		border-bottom: 10px solid transparent;
}

	.indexcontent .btn_next:hover {
		border-left: 10px solid #dadada;
}

	.indexcontent .btn_next:active {
		border-left: 10px solid #b7b7b7;
}

	.indexcontent .btn_prev:hover {
		border-right: 10px solid #dadada;
}

	.indexcontent .btn_prev:active {
		border-right: 10px solid #b7b7b7;
}

    .indexcontent .slide_controls {
		width: 74px;
		overflow:inherit;
		margin: 0;
		margin-bottom: 210px;
		margin-top: 10px;
		margin-left: 63px;
}

	.why_reineer, .our_promise {
		float: left;
		width: 66%;
		margin-right: 4%;
		padding-top: 25px;
		 border-top: dashed 1px rgba(255,255,255,0.5);
}

	.our_promise {
		padding-bottom: 25px;
}

	.listings_button {
		margin-top: -160px;
margin-right: 160px;
width: 160px;
height: 75px;
}
	
/* End of Left side styles */

/* Right side styles */

	.links {
	 	width: 30%;	
		float: right;
}

	.links a {
		text-decoration: underline;
}

	.links li {
		margin-bottom: 25px;
}

    .links ul {
    border-bottom: dashed 1px rgba(255,255,255,0.5);
}

	.links a:hover,
	.links a:focus {
		color: #dadada;
}

	.links a:active {
		color: #b7b7b7;
}

	.social_links { 
        float: left;
		display: block;
		padding: 25px 0;
}
	
	.social_links img[class$="_icon"] {
			-webkit-transition:.2s margin linear;
   			-moz-transition:.2s margin linear;
     		-o-transition:.2s margin linear;
       		transition:.2s margin linear;
}


	.social_links img[class$="_icon"]:hover {
		margin-bottom: -10px;
}

	.social_links img[class$="_icon"]:active {
		opacity: 0.5;
}
	
	.scale {
		-webkit-transform:scale(.5,.5);
   		-moz-transform:scale(.5,.5);
    	-ms-transform:scale(.5,.5);
     	-o-transform:scale(.5,.5);
        transform:scale(.5,.5);
		margin-left: -21.675px;
}

/* End of Right side styles */