/* 
- - - - - - - - - - - - - - - - - - - - - -
CSS : RESET
- - - - - - - - - - - - - - - - - - - - - -
*/

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}

*, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

*:focus {
		-webkit-transition:border-radius 0.2s, box-shadow 0.2s;
		-moz-transition:border-radius 0.2s, box-shadow 0.2s;
		-o-transition:border-radius 0.2s, box-shadow 0.2s;
		transition:border-radius 0.2s, box-shadow 0.2s;
		-webkit-box-shadow:0px 0px 0px 3px rgba(255,255,255,0.7);
		-moz-box-shadow:0px 0px 0px 3px rgba(255,255,255,0.7);
		box-shadow:0px 0px 0px 3px rgba(255,255,255,0.7);
		padding: 2px;
		outline: 0;
		-webkit-border-radius:5px;
		-moz-border-radius:5px;
		border-radius:5px;
}

.clear {
	clear:both;
}

/* 
- - - - - - - - - - - - - - - - - - - - - -
CSS : FORMS
- - - - - - - - - - - - - - - - - - - - - -
*/

form span {
    color: #CF8282;	
}


main li {
    list-style: none;
}

#formTop {
    border-top: dashed 1px rgba(255,255,255,0.5);
    margin: 20px 0;
    padding: 10px 0;
}

#formBtm {
    margin: 0 0 10px 0;
}

#formBtm li {
    margin: 10px 10px 10px 0;
    display: inline-block;
}

#formBtm label {
    margin-left: 10px;
}

#formTop li {
    margin: 10px 10px 10px 0;
}

#formTopLeft li {
    display: inline-block;
}

#formTopRight li {
    display: inline-block;
}

.wrapper label {
    display: block;
    font-family: 'Droid Sans', sans-serif;
    font-size: 14px;
    padding-bottom: 5px;
}

.wrapper input {
    -webkit-transition:0.2s all;
   	-moz-transition:0.2s all;
    -o-transition:0.2s all;
    transition:0.2s all;
    border: 0;
    -webkit-border-radius:25px;
    -moz-border-radius:25px;
    border-radius:25px;
    -webkit-box-shadow:0px -1px rgba(0,0,0, 0.5), 0px -2px rgba(255,255,255,0.2);
    -moz-box-shadow:0px -1px rgba(0,0,0, 0.5), 0px -2px rgba(255,255,255,0.2);
    box-shadow:0px -1px rgba(0,0,0, 0.5), 0px;
    padding: 2px 10px;
}

#formBtm input:focus, #formTop input:focus {
    	outline: 0;
    	-webkit-box-shadow:0px -1px rgba(0,0,0, 0.5), 0px -2px rgba(255,255,255,0.2), 0px 0px 0px 1px rgba(0,0,0,0.2), 0px 0px 0px 3px rgba(255,255,255,0.4);
   		-moz-box-shadow:0px -1px rgba(0,0,0, 0.5), 0px -2px rgba(255,255,255,0.2), 0px 0px 0px 1px rgba(0,0,0,0.2), 0px 0px 0px 3px rgba(255,255,255,0.4);
        box-shadow:0px -1px rgba(0,0,0, 0.5), 0px -2px rgba(255,255,255,0.2), 0px 0px 0px 1px rgba(0,0,0,0.2), 0px 0px 0px 3px rgba(255,255,255,0.4);
}

textarea {
		-webkit-border-radius:5px;
		-moz-border-radius:5px;
		border-radius:5px;
		border: 0;
		margin-bottom: 5px;
}

.newsletter {
    margin: 10px 0 10px 0;
    display: flex;
}

.submit:hover, .submit:focus {
    	-webkit-box-shadow:0px 0px 2px white;
   		-moz-box-shadow:0px 0px 2px white;
        box-shadow:0px 0px 2px white;
    	background-color: white;
}

.submit:active {
    	background-color: #DBD7D8;
    	-webkit-box-shadow:none;
   		-moz-box-shadow:none;
        box-shadow:none;
}

select {
	border: none;
}

select:active, select:focus {
	box-shadow: none;
	padding: 0;
	border-radius: 2px;
}

/* 
- - - - - - - - - - - - - - - - - - - - - -
CSS : FONTS
- - - - - - - - - - - - - - - - - - - - - -
*/

html {
    color: white;
}

h1 {
    font-family: 'Droid Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 10px;
}

h2 {
    margin: 0 2px;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: white;
    float: left;
}

h3 {
    font-family: 'Oswald', sans-serif;
    margin: 0 2px;
    font-size: 22px;
    font-weight: 400;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

p {
    font-family: 'Droid Sans', sans-serif;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 5px;
}

button {
	font-family: Arial, Helvetica, sans-serif;
}

/* 
- - - - - - - - - - - - - - - - - - - - - -
CSS : MAIN
- - - - - - - - - - - - - - - - - - - - - -
*/

#map {
    width: 950px;
    height: 500px;
}

#contact {
    margin: -10px 0 10px -9px;
}

#current {
	text-decoration: underline;
}

body {
    background: rgba(251, 251, 251, 1);
	transition: .5s background;
	-webkit-transition: .5s background;
	-moz-transition:.5s background;
    -o-transition:.5s background;
}

.darken_body {
	background: rgba(0,0,0,.2);
}

header {
    margin-bottom: 60px;
    height: 100px;
    -webkit-box-shadow:0px 5px #afafaf;
   	-moz-box-shadow:0px 5px #afafaf;
    box-shadow:0px 5px #afafaf;
    background: #572525;
}

nav {
    padding: 38px 0;
    margin: 0 auto;
    width: 940px;
}

nav li {
    display: inline-block;
    width: calc(100% / 5);
    text-align: center;
}

nav li:hover a,
nav li:focus a,
.listing_pages a:hover,
.listing_pages a:focus {
	color: #dadada;
}

nav li:active a,
.listing_pages a:active {
color: #b7b7b7;
}

main {
    margin: 0 auto;
    width: 1080px;
}

.mainTop {
    height: 270px;
    background-image:url(../images/reineer_header.png);
	background-repeat: no-repeat;
}

.mainMid {
    background: #763d3d;
}

.midContent {
    margin: 0 auto;
    padding: 25px;
    width: 1000px;
    height: inherit;
    background: #884646;
}

footer {
    height: 64px;
    border-top: 1px solid #944c4c;
    background: rgb(122,63,63);
	-webkit-box-shadow:0px -2px 3px rgba(0,0,0,0.175);
    -moz-box-shadow:0px -2px 3px rgba(0,0,0,0.175);
    box-shadow:0px -2px 3px rgba(0,0,0,0.175);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdhM2YzZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3MjNiM2IiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(122,63,63,1) 0%, rgba(114,59,59,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(122,63,63,1)), color-stop(100%,rgba(114,59,59,1)));
    background: -webkit-linear-gradient(top,  rgba(122,63,63,1) 0%,rgba(114,59,59,1) 100%);
    background: -o-linear-gradient(top,  rgba(122,63,63,1) 0%,rgba(114,59,59,1) 100%);
    background: -ms-linear-gradient(top,  rgba(122,63,63,1) 0%,rgba(114,59,59,1) 100%);
    background: linear-gradient(to bottom,  rgba(122,63,63,1) 0%,rgba(114,59,59,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7a3f3f', endColorstr='#723b3b',GradientType=0 );
}

.footMid {
    margin: 20px auto;
    width: 940px;
}

.footMid h2:hover a,
.footMid h2:focus a {
	color: #dadada;
}

.footMid h2:active a {
color: #b7b7b7;
}

.footLeft { float: left; }
.footRight { float: right; }


/* ------------------------------------------ Buyer styles ----------------------------------------------------------------- */

.wrapper h3 {
		margin-bottom: 25px;
}

.wrapper p {
		margin-bottom: 15px;
}

	#datepicker {
		color:black;
}

/* ------------------------------------------ End of Buyer styles ---------------------------------------------------------- */


/* ------------------------------------------ Listings styles--------------------------------------------------------------- */

.sort_by {		
		float: left;
		position: relative;		
}

.sort_by:first-child h3 {
		float:left;
}

.sort_by span {
		text-transform: uppercase;
}

.sort_by ul {
		float: left;
}

.sort_by ul li {
	position: relative;
	float: left;
	transition: .5s all;
	-webkit-transition: .5s all;
	-moz-transition: .5s all;
	-o-transition: .5s all;
}

.sort_by ul li a {
	transition: .5s all;
	-webkit-transition: .5s all;
	-moz-transition: .5s all;
	-o-transition: .5s all;	
}

.sort_by ul li a {
	font-family: 'Oswald', sans-serif;
	display: inline-block;
	color: #FBFBFB;
	text-transform: uppercase;
	text-decoration: none;
	padding: 0 14px;
	white-space: nowrap;
	transition: .5s all;
	-webkit-transition: .5s all;
	-moz-transition: .5s all;
	-o-transition: .5s all;	
}

.sort_by ul li h3 {
	display: inline-block;
	cursor: pointer;
}

.sort_by ul li:first-child h3 {
	padding-right:15px;
	padding-left:5px;	
	border-right: 1px solid;
}

.sort_by ul li:last-child h3 {
	padding-left:15px;	
}

.sort_by ul ul li:hover {
		background: #FBFBFB;	
}

.sort_by ul ul li a:hover {
		color: #763D3D;
}

.sort_by ul ul {
	background-color: #572525;
	position: absolute;
	z-index: 999;
	top: 25px;
	left: 0;	
	height: 0;
	overflow: hidden;
	opacity: 0;
	min-width: 100%;
}

.sort_by ul li:hover ul,
.sort_by ul li .fade_in {
	height: auto;
	overflow: auto;
	opacity: 1;
}

.sort_by ul ul li a {
	display: block;
	line-height: 42px;
	text-transform: none;
	border: none;
}

.sort_by ul ul li {
	float: none;
	display: list-item;	
	border-bottom: 1px solid white;
}


.sort_by ul ul li:nth-child(5) {
		border: none;
}

.sort_by span {
		color: #CF8282;
		text-shadow: 1px 1px 1px #572525;		
}

.sort_by span:hover {
		color: #DBA0A0;
}

.sort_by span:active {
		color: #BF7373;
}

.listing_box {
		width: 950px;
		margin-top: 25px;
		height: 185px;
		border: 1px solid #fbfbfb;
		-webkit-border-radius:4px;
   		-moz-border-radius:4px;
        border-radius:4px;
		padding: 25px;
		position: relative;
}

	.listing_box h3 {
		float: left;
		margin-left: 30px;
		margin-bottom: 25px;
		
}

.listing_box h3 span {
		color: #CF8282;
		text-shadow: 1px 1px 1px #572525;
	
}

.listing_box p {
		float: left;
		margin-left: 50px;
}

.date_listed {
		color: black;
		font-style:italic;
}

.listing_box p span {
		color: #CF8282;
		text-shadow: 1px 1px 1px #572525;
	
}

button[class^="button_details"], .escape, .listings_button, .contact_seller {
		font-weight: bold;
		float: right;
		margin-top: -44px;
		margin-right: 20px;
		cursor: pointer;
		width: 70px;
		height: 37px;
		outline: none;
		color: #4a4a4a;
		-webkit-border-radius:5px;
   		-moz-border-radius:5px;
        border-radius:5px;
		border: none;
		-webkit-box-shadow: 1px 1px 3px #121212;
   		-moz-box-shadow: 1px 1px 3px #121212;
		box-shadow: 1px 1px 3px #121212;
		background-image: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(241,241,241,1) 50%, rgba(225,225,225,1) 51%, rgba(246,246,246,1) 100%);
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(241,241,241,1)), color-stop(51%,rgba(225,225,225,1)), color-stop(100%,rgba(246,246,246,1)));
		background-image: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%);
		background-image: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%);
		background-image: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%);
		background-image: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 );
}

.button_details:hover, .escape:hover, .listings_button:hover, .contact_seller:hover {
	outline: none;
	border:none;
background: rgb(237,237,237);
background: -moz-linear-gradient(top,  rgba(237,237,237,1) 0%, rgba(224,224,224,1) 50%, rgba(209,209,209,1) 51%, rgba(229,229,229,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(237,237,237,1)), color-stop(50%,rgba(224,224,224,1)), color-stop(51%,rgba(209,209,209,1)), color-stop(100%,rgba(229,229,229,1)));
background: -webkit-linear-gradient(top,  rgba(237,237,237,1) 0%,rgba(224,224,224,1) 50%,rgba(209,209,209,1) 51%,rgba(229,229,229,1) 100%);
background: -o-linear-gradient(top,  rgba(237,237,237,1) 0%,rgba(224,224,224,1) 50%,rgba(209,209,209,1) 51%,rgba(229,229,229,1) 100%);
background: -ms-linear-gradient(top,  rgba(237,237,237,1) 0%,rgba(224,224,224,1) 50%,rgba(209,209,209,1) 51%,rgba(229,229,229,1) 100%);
background: linear-gradient(to bottom,  rgba(237,237,237,1) 0%,rgba(224,224,224,1) 50%,rgba(209,209,209,1) 51%,rgba(229,229,229,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#e5e5e5',GradientType=0 );
color: #343434;
}

.button_details:active, .escape:active, .listings_button:active, .contact_seller:active {
		outline: none;
		border:none;
		-webkit-box-shadow:2px 2px 3px #121212 inset;
   		-moz-box-shadow:2px 2px 3px #121212 inset;
        box-shadow:2px 2px 3px #121212 inset;
		padding-top: 5px;
		padding-left: 5px;
}

.listing_box img {
		float:left;
}

.listing_pages {
		margin-top: 25px;
		float: right;	
		font-family: 'Droid Sans', sans-serif;
}

.listing_pages a {
		margin-left:1px;
		margin-right:1px;
}

.listing_pages p {
		display: inline-block;
}

.listing_pages span {
		text-decoration: underline;
}

.listing_pages a:nth-child(2) {
		margin-left:20px;
}

.listing_pages a:nth-child(10) {
		margin-right: 20px;
}

div[class$="_page"] {
		display: inline-block;
		margin-bottom:-2px;
}

.next_page {
		margin-left:10px;
		border-top: 7px solid transparent;
		border-left: 7px solid #572525;
		text-shadow: 1px 1px 1px #572525;
		border-bottom: 7px solid transparent;		
}

.previous_page {
		margin-right:10px;
		border-top: 7px solid transparent;
		border-right: 7px solid #572525;
		text-shadow: 1px 1px 1px #572525;
		border-bottom: 7px solid transparent;	
}

/*------------------------------------------ Listing Details styles -------------------------------------------------------------- */

.escape {
		width:40px;
		right: -20px;
		top: 44px;
		-webkit-box-shadow:0 0 0;
   		-moz-box-shadow:0 0 0;
        box-shadow:0 0 0;
		z-index:9999;
		-webkit-border-radius:0;
   		-moz-border-radius:0;
		border-radius: 0;
		position: absolute;
}


.listing_details {
		position: fixed;
		width: 1080px;
		height: 850px;
		padding: 25px;
		background: #2c2c2c;
		background:url(../images/texture_backgrounds/black_pattern04.jpg);
		z-index: 10;
		top: 60px;
		left: 0;
		right: 0;
		margin: 0 auto;
		display: none;
		overflow: hidden;
}

.contact_seller {
		width: 108px;
		margin-top:10px;
		margin-right: 0;
		margin-right: 50px;
}

.slide_controls {
		width: 74px;
		overflow: auto;
		margin: 0 auto;
		margin-left: 363px;
		margin-top:10px;
}

.btn_prev,
.btn_next {
		cursor: pointer;
		width: 0;
		height: 0;	
}

.btn_next:hover {
		border-left: 15px solid #dadada;
}

.btn_next:active {
		border-left: 15px solid #b7b7b7;
}

.btn_prev:hover {
		border-right: 15px solid #dadada;
}

.btn_prev:active {
		border-right: 15px solid #b7b7b7;
}

.btn_prev {
		float: left;
		border-top: 15px solid transparent;
		border-right: 15px solid white;
		border-bottom: 15px solid transparent;	
}

.btn_next {
		float: right;
		border-top: 15px solid transparent;
		border-left: 15px solid white;
		border-bottom: 15px solid transparent;
}

.cycle-slideshow {
		float: left;
		margin-right: 25px;
}

.details_sidebar h3 {
		margin-left: 30px;
		margin-bottom: 25px;
}
	
.listing_details h3 span {
		color: #A35858;
        font-weight: 300;
        font-size: 18px;
		text-shadow: 1px 1px 1px #572525;
}

.details_box {
		width: 1030px;
		float:left;
		margin-top: 25px;
}

.details_box h3 {
		margin-right: 12px;
}

/*------------------------------------------ Listing Details styles -------------------------------------------------------------- */


/*------------------------------------------ End of Listings styles--------------------------------------------------------------- */