@media (min-width: 961px) {
    #docView {
        transition: left 0.3s, top 0.3s 0.3s, box-shadow 0.3s 0.3s;
        top: 75px;
        padding: 25px;
        position: relative;
        left: 436px;
        width: 500px;
        border-radius: 2px;
        border: 1px solid #808080;
        box-shadow: 0px 0px 0px 1px rgba(255,255,255,0.4), 15px 15px 4px #EDEDED;
        background-color: #F7F7F7;
        z-index: 10;
        opacity: 0;
    }
}

@media (max-width: 960px) {
    #docView {
        padding: 25px;
        transition: 0.3s, width 0s;
        position: relative;
        width: calc(100% - 225px);
        height: 100%;
        opacity: 0;
        background-color: #F7F7F7;
        z-index: 10;
        margin-left: 225px;
        box-shadow: none;
    }

    #lineGen_01 {
        transition: box-shadow 0s 0.3s;
        box-shadow: none;
    }

    #lineGen_02 {
        transition: box-shadow 0s 0.3s;
        box-shadow: none;
    }

    #lineGen_03 {
        transition: box-shadow 0s 0.3s;
        left: 278px;
        box-shadow: none;
    }

    #lineGen_04 {
        transition: box-shadow 0s 0.3s;
        box-shadow: none
    }

    #lineGen_05 {
        transition: width 0.3s, box-shadow 0s 0.3s;
        width: 60px;
        box-shadow: none;
    }

    #lineGen_06 {
        transition: left 0.3s, z-index 0s;
        left: 343px;
        border-radius: 0;
        z-index: 9;
    }
}

@media (max-width: 650px) {
    #image {
        display: none;
    }

    section hr {
        display: none;
    }

    section h2 {
        -moz-transition: 0s;
        -webkit-transition: 0s;
        -o-transition: 0s;
        transition: 0s;
        position: relative;
        height: 40px;
        width: calc(100% + 1px);
        padding-top: 6px;
        border-top: 1px solid rgba(255,255,255,0.1);
        border-bottom: 1px solid rgba(0,0,0,0.3);
        box-shadow: 0px -1px rgba(0,0,0,0.2);
    }

    section h2:hover {
        -moz-transition: 0s;
        -webkit-transition: 0s;
        -o-transition: 0s;
        transition: 0s;
        background-color: transparent;
        color: #E3E3E3;
        border-top: 1px solid rgba(255,255,255,0.1);
        border-bottom: 1px solid rgba(0,0,0,0.3);
        box-shadow: 0px -1px rgba(0,0,0,0.2);
    }

    section a {
        -moz-transition: 0s;
        -webkit-transition: 0s;
        -o-transition: 0s;
        transition: 0s;
        border: none;
    }

    section a:hover {
        -moz-transition: 0s;
        -webkit-transition: 0s;
        -o-transition: 0s;
        transition: 0s;
        color: #E3E3E3;
        top: 0px;
        box-shadow: none;
        background-color: transparent;
        border: none;
    }

    section a.selected {
        color: #E3E3E3;
        border: none;
        box-shadow: none;
        background-color: transparent;
    }
}

@media (max-width: 550px) {
    
    main {
        display: none;
    }
    
    body {
        background-image: url(../images/side_bg.png);
    }

    header {
        width: 100%;
        position: relative;
    }

    section {
        width: 100%;
        height: auto;
        position: relative;
        margin: 0;
    }
    
    section h2 {
        width: 100%;
    }

    section a {
        position: relative;
        width: 100%;
    }
    
    .selected:after {
        display: none;
    }

    .notch:after {
        display: none;
    }
}