/*
- - - - - - - - - - - - - - - - - - - - - -
PRE : TWEAKS
- - - - - - - - - - - - - - - - - - - - - -
*/

::selection { display: none; }
::-moz-selection { display: none; }

::-ms-reveal { display: none; }
::-ms-clear { display: none; }

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*
- - - - - - - - - - - - - - - - - - - - - -
FORM : STYLES
- - - - - - - - - - - - - - - - - - - - - -
*/

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    
}

/*
- - - - - - - - - - - - - - - - - - - - - -
MAIN : CONTENT      
- - - - - - - - - - - - - - - - - - - - - -
*/

body { background-color: #F2F2F2; margin: 0px; font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, Sans-Serif; }
a, a:hover, a:visited, a:active { text-decoration: none; color: #F2F2F2; }
hr { border: 0; width: 190px; height: 2px; margin: 0 auto 25px; background: rgba(0,0,0,0.3); border-bottom: 1px solid rgba(255,255,255,0.25); }


header {
    cursor: crosshair;
    box-sizing: content-box;
    text-align: center;
    width: 220px;
    background-color: #535a5c;
    background-image: url(../images/side_bg.png);
    border-right: 1px solid #5C6263;
    box-shadow: 3px 0px #383C3D, 4px 0px #323536, 5px 0px #313436;
}

section h2:after {
    font-family: Courier;
    content:"+";
    float: right;
    margin: 3px 10px 0 0;
}

section {
    box-sizing: content-box;
    height: calc(100% - 200px);
    position: fixed;
    width: 220px;
    text-indent: 14px;
    background-color: #535a5c;
    background-image: url(../images/side_bg.png);
    border-right: 1px solid #5C6263;
    box-shadow: 3px 0px #383C3D, 4px 0px #323536, 5px 0px #313436;
}

section h2 {
    
    transition: color 0.4s 0.1s, box-shadow 0.2s, border-bottom 0.3s 0.1s, border-top 0.3s 0.1s, background-color 0.3s 0.1s, top 0.2s, width 0.2s;
    position: relative;
    font-family: "Oswald", Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans serif;
    font-size: 18px;
    font-weight: 100;
    text-transform: uppercase;
    height: 27px;
    width: 221px;
    margin: 0;
    cursor: default;
    color: #E3E3E3;
    border-top: 1px solid rgba(255,255,255,0.0);
    border-bottom: 1px solid rgba(0,0,0,0.0);
    box-shadow: 0px -1px rgba(0,0,0,0.0), 0px 1px rgba(255,255,255,0.0);
    background-color: rgba(255,255,255,0.0);
    text-shadow: 0px 1px #0F0F0F;
}

section h2:hover {
    
    transition: box-shadow 0.16s 0.075s, top 0.16s 0.075s, color 0.2s 0.1s, border-bottom 0.22s, border-top 0.22s, background-color 0.22s;
    top: -2px;
    color: white;
    border-top: 1px solid rgba(255,255,255,0.1);
    border-bottom: 1px solid rgba(0,0,0,0.3);
    box-shadow: 0px -1px rgba(0,0,0,0.2), 0px 2px rgba(0,0,0,0.3);
    background-color: rgba(255,255,255,0.04);
}

section h2:active {
    
    transition: box-shadow 0.04s, top 0.04s, color 0.075s, border-top 0.04s, background-color 0.04s;
    top: 0px;
    color: #CCCCCC;
    border-top: 1px solid rgba(0,0,0,0.25);
    border-bottom: 1px solid rgba(0,0,0,0.3);
    box-shadow: 0px -1px rgba(255,255,255,0.05);
    background-color: rgba(0,0,0,0.01);
    text-shadow: 0px -1px #0F0F0F;
}

section a {
    -moz-transition: color 0.4s 0.2s, box-shadow 0.2s, border-bottom 0.3s 0.1s, border-top 0.3s 0.1s, background-color 0.3s 0.1s, top 0.2s, width 0.2s;
    -webkit-transition: color 0.4s 0.2s, box-shadow 0.2s, border-bottom 0.3s 0.1s, border-top 0.3s 0.1s, background-color 0.3s 0.1s, top 0.2s, width 0.2s;
    -o-transition: color 0.4s 0.2s, box-shadow 0.2s, border-bottom 0.3s 0.1s, border-top 0.3s 0.1s, background-color 0.3s 0.1s, top 0.2s, width 0.2s;
    transition: color 0.4s 0.2s, box-shadow 0.2s, border-bottom 0.3s 0.1s, border-top 0.3s 0.1s, background-color 0.3s 0.1s, top 0.2s, width 0.2s;
    position: relative;
    height: 27px;
    width: 221px;
    color: #E3E3E3;
    border-top: 1px solid rgba(255,255,255,0.0);
    border-bottom: 1px solid rgba(0,0,0,0.0);
    box-shadow: 0px -1px rgba(0,0,0,0.0), 0px 1px rgba(255,255,255,0.0);
    background-color: rgba(255,255,255,0.0);
    text-shadow: 0px 1px #0F0F0F;
}