/*  -+=+-  -+=+-  -+=+-  TWEAKS  -+=+-  -+=+-  -+=+-  */

::-moz-selection { display: none; }
::selection { display: none; }

::-ms-reveal { display: none; }
::-ms-clear { display: none; }

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.clearfix {
    clear: both;
}

/*  -+=+-  -+=+-  -+=+-  MAIN STYLES  -+=+-  -+=+-  -+=+-  */

body { background-color: #F2F2F2; background-image: url(../images/main_bg.png); margin: 0; font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, Sans-Serif; }
section hr { border: 0; width: 190px; height: 2px; margin: 0 auto 25px; background: rgba(0,0,0,0.3); border-bottom: 1px solid rgba(255,255,255,0.25); }
a, a:hover, a:visited, a:active { text-decoration: none; color: #E3E3E3; }
ul { list-style: none; padding: 0; margin: 0; }
main { position: relative; padding-right: 100px; }

/*  -+=+-  -+=+-  -+=+-  CONTENT STYLES  -+=+-  -+=+-  -+=+-  */

main a, main a:visited {
    transition: left 0.075s, color 0.075s; 
    position: relative; 
    left: 0px; 
    color: #6DBBBF;
    font-style: italic;
    font-size: 14px; 
}

main a:hover { 
    color: #5FCED4;
    text-decoration: underline;
}

main a:active { 
    color: #61C4C9;
    left: 3px;
}

h1 {
    font-family: Georgia, serif;
    margin: 0;
    font-size: 34px;
    font-weight: 100;
    font-style: italic;
    color: #262626;
    text-shadow: 0px 1px white;
}

p {
    font-size: 18px;
    color: #444444;
    text-shadow: 0px 1px white;
    margin: 0;
    font-family: Georgia, serif;
    font-style: italic;
}

#image {
    background-color: #D6D6D6;
    position: relative;
    width: 100px;
    height: 125px;
    margin: 0 25px 10px 0;
    border-radius: 2px;
    float: left;
    box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.07) inset, 0px 1px 0px 1px rgba(255,255,255,0.3) inset, 0px 1px 0px white;
}

#image:after {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    border-width: 0 16px 16px 0;
    border-style: solid;
    border-color: #E3E3E3 #F7F7F7;
    box-shadow: -2px 2px 2px rgba(0,0,0,0.4);
}

/*  -+=+-  -+=+-  -+=+-  DROP DOWN  -+=+-  -+=+-  -+=+-  */

#htmldrop ul, #jsdrop ul {
    position: absolute;
    left: -333px;
    opacity: 0;
}

/*  -+=+-  -+=+-  -+=+-  LINE GENERATION  -+=+-  -+=+-  -+=+-  */

#lineGen_01 {
    left: 200px;
    position: absolute;
    height: 2px;
    border: 0;
    opacity: 0;
    background: #808080;
    box-shadow: 15px 25px 2px #E8E8E8;
}

#lineGen_02 {
    position: absolute;
    left: 274px;
    width: 5px;
    height: 5px;
    border-radius: 15px;
    opacity: 0;
    border: 2px solid #808080;
    box-shadow: 15px 25px 2px #E8E8E8;
}

#lineGen_03 {
    position: absolute;
    left: 278px;
    width: 2px;
    opacity: 0;
    background: #808080;
    box-shadow: 15px 25px 2px #E8E8E8;
    z-index: 5;
}

#lineGen_04 {
    position: absolute;
    top: 71px;
    left: 274px;
    width: 5px;
    height: 5px;
    border-radius: 15px;
    opacity: 0;
    border: 2px solid #808080;
    box-shadow: 15px 25px 2px #E8E8E8;
}

#lineGen_05 {
    left: 283px;
    top: 75px;
    position: absolute;
    height: 2px;
    width: 150px;
    border: 0;
    opacity: 0;
    background: #808080;
    box-shadow: 15px 25px 2px #E8E8E8;
}

#lineGen_06 {
    position: absolute;
    left: 432px;
    width: 5px;
    height: 5px;
    top: 71px;
    border-radius: 15px;
    opacity: 0;
    border: 2px solid #808080;
    z-index: 10;
    background-color: #F2F2F2;
    
}

#docView {
    top: 75px;
    padding: 25px 25px 15px 25px;
    position: relative;
    left: 436px;
    width: calc(55%);
    max-width: 650px;
    min-width: 525px;
    height: 175px;
    border-radius: 2px;
    opacity: 0;
    border: 1px solid #808080;
    box-shadow: 0px 0px 0px 1px rgba(255,255,255,0.4), 15px 15px 4px #EDEDED;
    background-color: #F7F7F7;
    z-index: 10;
    
}

/*  -+=+-  -+=+-  -+=+-  SIDEBAR STYLES  -+=+-  -+=+-  -+=+-  */

header {
    cursor: pointer;
    box-sizing: content-box;
    text-align: center;
    width: 220px;
    position: fixed;
    background-color: #535a5c;
    background-image: url(../images/side_bg.png);
    border-right: 1px solid #5C6263;
    box-shadow: 3px 0px #383C3D, 4px 0px #323536, 5px 0px #313436;
    z-index: 100;
}

section {
    box-sizing: content-box;
    height: 100%;
    position: fixed;
    width: 220px;
    margin-top: 200px;
    text-indent: 14px;
    background-color: #535a5c;
    background-image: url(../images/side_bg.png);
    border-right: 1px solid #5C6263;
    box-shadow: 3px 0px #383C3D, 4px 0px #323536, 5px 0px #313436;
    z-index: 100;
}

section h2 {
    -moz-transition: color 0.4s 0.1s, box-shadow 0.2s, border-bottom 0.3s 0.1s, border-top 0.3s 0.1s, background-color 0.3s 0.1s, top 0.2s, width 0.2s;
    -webkit-transition: color 0.4s 0.1s, box-shadow 0.2s, border-bottom 0.3s 0.1s, border-top 0.3s 0.1s, background-color 0.3s 0.1s, top 0.2s, width 0.2s;
    -o-transition: color 0.4s 0.1s, box-shadow 0.2s, border-bottom 0.3s 0.1s, border-top 0.3s 0.1s, background-color 0.3s 0.1s, top 0.2s, width 0.2s;
    transition: color 0.4s 0.1s, box-shadow 0.2s, border-bottom 0.3s 0.1s, border-top 0.3s 0.1s, background-color 0.3s 0.1s, top 0.2s, width 0.2s;
    font-family: "Oswald", Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans serif;
    font-size: 18px;
    font-weight: 100;
    text-transform: uppercase;
    position: relative;
    height: 27px;
    width: 221px;
    margin: 0;
    cursor: default;
    color: #E3E3E3;
    border-top: 1px solid rgba(255,255,255,0.0);
    border-bottom: 1px solid rgba(0,0,0,0.0);
    box-shadow: 0px -1px rgba(0,0,0,0.0), 0px 1px rgba(255,255,255,0.0);
    background-color: rgba(255,255,255,0.0);
    text-shadow: 0px 1px #0F0F0F;
}

section h2:hover {
    -moz-transition: box-shadow 0.05s, top 0.16s, color 0.2s, border-bottom 0.22s, border-top 0.05s, background-color 0.22s;
    -webkit-transition: box-shadow 0.05s, top 0.16s, color 0.2s, border-bottom 0.22s, border-top 0.05s, background-color 0.22s;
    -o-transition: box-shadow 0.05s, top 0.16s, color 0.2s, border-bottom 0.22s, border-top 0.05s, background-color 0.22s;
    transition: box-shadow 0.05s, top 0.16s, color 0.2s, border-bottom 0.22s, border-top 0.05s, background-color 0.22s;
    color: white;
    border-top: 1px solid rgba(255,255,255,0.1);
    border-bottom: 1px solid rgba(0,0,0,0.3);
    box-shadow: 0px -1px rgba(0,0,0,0.2);
    background-color: rgba(255,255,255,0.04);
}

section h2:active {
    -moz-transition: box-shadow 0.04s, top 0.02s, color 0.075s, border-top 0.04s, background-color 0.04s;
    -webkit-transition: box-shadow 0.04s, top 0.02s, color 0.075s, border-top 0.04s, background-color 0.04s;
    -o-transition: box-shadow 0.04s, top 0.02s, color 0.075s, border-top 0.04s, background-color 0.04s;
    transition: box-shadow 0.04s, top 0.02s, color 0.075s, border-top 0.04s, background-color 0.04s;
    color: #CCCCCC;
    border-top: 1px solid rgba(0,0,0,0.25);
    box-shadow: 0px -1px rgba(255,255,255,0.05);
    background-color: rgba(0,0,0,0.02);
    text-shadow: 0px -1px #0F0F0F;
}

#htmldrop h2:after, #jsdrop h2:after, #phpdrop h2:after, #wpdrop h2:after, #clientdrop h2:after {
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    content: "+";
    float: right;
    margin: 3px 10px 0 0;
}

#htmldrop h2.toggle:after, #jsdrop h2.toggle:after, #phpdrop h2.toggle:after, #wpdrop h2.toggle:after, #clientdrop h2.toggle:after {
    content: "-";
}

#htmldrop h2.off:after, #jsdrop h2.off:after, #phpdrop h2.off:after, #wpdrop h2.off:after, #clientdrop h2.off:after {
    content: "…";
    color: darkgray;
    margin: -2px 10px 0 0;
}

section a {
    -moz-transition: color 0.4s 0.1s, box-shadow 0.2s, border-bottom 0.3s 0.1s, border-top 0.3s 0.1s, background-color 0.3s 0.1s, top 0.2s;
    -webkit-transition: color 0.4s 0.1s, box-shadow 0.2s, border-bottom 0.3s 0.1s, border-top 0.3s 0.1s, background-color 0.3s 0.1s, top 0.2s;
    -o-transition: color 0.4s 0.1s, box-shadow 0.2s, border-bottom 0.3s 0.1s, border-top 0.3s 0.1s, background-color 0.3s 0.1s, top 0.2s;
    transition: color 0.4s 0.1s, box-shadow 0.2s, border-bottom 0.3s 0.1s, border-top 0.3s 0.1s, background-color 0.3s 0.1s, top 0.2s;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    position: relative;
    display: block;
    height: 26px;
    width: 221px;
    padding-top: 3px;
    color: #E3E3E3;
    top: 0px;
    cursor: default;
    border-top: 1px solid rgba(255,255,255,0.0);
    border-bottom: 1px solid rgba(0,0,0,0.0);
    box-shadow: 0px -1px rgba(0,0,0,0.0), 0px 1px rgba(255,255,255,0.0);
    background-color: rgba(255,255,255,0.0);
    text-shadow: 0px 1px #0F0F0F;
}

section a:hover {
    cursor: pointer;
    -moz-transition: background-color 0.2s, box-shadow 0.16s 0.075s, color 0.2s 0.1s, border-bottom 0.22s, border-top 0.22s, background-color 0.22s, top 0.16s 0.075s;
    -webkit-transition: background-color 0.2s, box-shadow 0.16s 0.075s, color 0.2s 0.1s, border-bottom 0.22s, border-top 0.22s, background-color 0.22s, top 0.16s 0.075s;
    -o-transition: background-color 0.2s, box-shadow 0.16s 0.075s, color 0.2s 0.1s, border-bottom 0.22s, border-top 0.22s, background-color 0.22s, top 0.16s 0.075s;
    transition: background-color 0.2s, box-shadow 0.16s 0.075s, color 0.2s 0.1s, border-bottom 0.22s, border-top 0.22s, background-color 0.22s, top 0.16s 0.075s;
    top: -2px;
    color: white;
    border-top: 1px solid rgba(255,255,255,0.1);
    border-bottom: 1px solid rgba(0,0,0,0.3);
    box-shadow: 0px -1px rgba(0,0,0,0.2), 0px 2px rgba(0,0,0,0.3);
    background-color: #5F6669;
}

section a:active {
    -moz-transition: box-shadow 0.04s, color 0.075s, border-top 0.04s, background-color 0.04s, top 0.04s;
    -webkit-transition: box-shadow 0.04s, color 0.075s, border-top 0.04s, background-color 0.04s, top 0.04s;
    -o-transition: box-shadow 0.04s, color 0.075s, border-top 0.04s, background-color 0.04s, top 0.04s;
    transition: box-shadow 0.04s, color 0.075s, border-top 0.04s, background-color 0.04s, top 0.04s;
    top: 0px;
    color: #CCCCCC;
    border-top: 1px solid rgba(0,0,0,0.25);
    border-bottom: 1px solid rgba(0,0,0,0.3);
    box-shadow: 0px -1px rgba(255,255,255,0.05);
    background-color: rgba(0,0,0,0.01);
    text-shadow: 0px -1px #0F0F0F;
}

section a.notch:after {
    -moz-transition: color 0.3s;
    -webkit-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
    content: "•――";
    color: #2B2B2B;
    letter-spacing: -0.5em;
    font-size: 13px;
    text-shadow: 0px 1px #6E6E6E;
    float: right;
    margin: 1px 6px 0 0;
}

section a.selected {
    color: white;
    background-color: rgba(255,255,255,0.04);
    border-top: 1px solid rgba(255,255,255,0.1);
    border-bottom: 1px solid rgba(0,0,0,0.3);
    box-shadow: 0px -1px rgba(0,0,0,0.2);
}

section a.selected:hover {
    top: 0px;
}

section a.selected:after {
    color: #81E3E3;
    text-shadow: 0px -1px #2E2E2E, 0px 1px #44857A, 0px 0px 6px rgba(255,255,255,0.3);
}

#sidebar {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}